<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" herf="{% static 'css/style.css' %}">
</head>
<body>
{% block content %}
{% endblock %}
    <form action="{% url 'question_create' %}" autocomplete="on" method="post" >
        {% csrf_token %}
   <!--    이름: <input type="text", id="name", name="name">   <br>
       나이: <input type="text", id="age", name="age">   <br>
       성별: <select name="gender">
            <option value="">성별 선택</option>
            <option value="남자">남성</option>
            <option value="여성">여성</option>
    </select><br>
        날짜: <input type="date"><br>
        시간: <input type="time">


   <br>-->
        {{ form.as_p }}
<button type="submit">확정 </button>
    </form>

</body>
</html>